<a href="https://colab.research.google.com/github/Cooljoe67/Python_learning_experience/blob/main/Kopie_von_04_Debugging_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Debugging Exercises üêû
Welcome! In each exercise below, you'll find some buggy Python code. üêõ Your mission is to fix the error and get the code running. We give hints to help you along the way! üòä

---
## Exercise 1
The code is trying to print a greeting, but there's a bug üêõ in the `print` statement.

In [1]:
print "Hello, world!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (ipython-input-4007745712.py, line 1)

---
## Exercise 2
We have a variable `message`, but I can't print it. Uh oh!

In [2]:
message = "Hi there!"
print(mesage)

NameError: name 'mesage' is not defined

---
## Exercise 3
Our `print` statement is having problems again. Can you find what's wrong here?

In [3]:
if True:
print("Oh no!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-1275040913.py, line 2)

---
## Exercise 4
If only this would work!

In [4]:
if 5 > 3
    print("5 is greater than 3")

SyntaxError: expected ':' (ipython-input-996193472.py, line 1)

---
## Exercise 5
Why won't this code print out my age?

In [5]:
age = 30
print("I am " + age + " years old")

TypeError: can only concatenate str (not "int") to str

---
## Exercise 6
I'd like to print out the `cherry`, why won't the code let me?

In [6]:
fruits = ["apple", "banana", "cherry"]
print(fruits[3])

IndexError: list index out of range

---
## Exercise 7
Why can't `int()` turn `ten` into an integer? Can it convert stings to integers?

In [7]:
number = int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

---
## Exercise 8
What's wrong with the loop?

In [8]:
for i in range(3)
    print(i)

SyntaxError: expected ':' (ipython-input-859882524.py, line 1)

---
## Exercise 9
A string isn't recognised? What's up?

In [9]:
print("Hello)

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-1371898898.py, line 1)

---
## Exercise 10
Is it possible to multiply a string? If so, how?

In [10]:
sound = "ha"
print(sound * 2.5)

TypeError: can't multiply sequence by non-int of type 'float'

---
## Exercise 11
What's wrong with this loop?

In [11]:
for i in range(5.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

---
## Exercise 12
Why can't the list be printed?

In [12]:
items = [1, 2, 3]
print(item)

NameError: name 'item' is not defined

---
## Exercise 13
Why won't this code print out the 5 letter of `hello`?

In [13]:
s = "hello"
print(s[5])

IndexError: string index out of range

---
## Exercise 14
Why can't `4` be added to the list? Can you add `4` to the list in `print()`?

In [17]:
nums = [1, 2, 3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

---
## Exercise 15
Nothing plus 5 is surely 5. Is it possible to save this code?

In [27]:
def ifnone(var,default):
  if var is None:
    return default
  return var

value = None
print(ifnone(value,0) + 5)

5